*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter;
background:#0b0b0b;
color:white;
height:100vh;
}

/* WELCOME */

.welcomePage{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.welcomeCard{
background:#111;
padding:60px;
border-radius:14px;
text-align:center;
}

.welcomeCard h1{
font-size:32px;
margin-bottom:10px;
}

.welcomeCard p{
color:#9aa0a6;
margin-bottom:25px;
}

.welcomeCard button{
background:#4f8df5;
border:none;
padding:12px 28px;
border-radius:8px;
color:white;
cursor:pointer;
}

/* LOGIN */

.loginPage{
display:none;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#151515;
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
background:#1e1e1e;
border:none;
border-radius:8px;
color:white;
}

.login-box button{
width:100%;
padding:12px;
background:#1e88e5;
border:none;
border-radius:8px;
color:white;
}

/* APP */

#appPage{
display:none;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
padding:20px 40px;
border-bottom:1px solid #1e1e1e;
}

/* MAIN */

.main{
display:flex;
justify-content:center;
align-items:center;
height:calc(100vh - 70px);
}

.assistant{
width:900px;
max-width:95%;
text-align:center;
}

/* ORB */

.orb{
width:170px;
height:170px;
border-radius:50%;
margin:auto;
background:radial-gradient(circle,#4f9cff,#0b0b0b);
box-shadow:
0 0 30px #4f9cff55,
0 0 60px #4f9cff33;
animation:pulse 2.5s infinite;
margin-bottom:20px;
}

@keyframes pulse{
0%{transform:scale(1)}
50%{transform:scale(1.08)}
100%{transform:scale(1)}
}

.subtitle{
color:#9aa0a6;
margin-bottom:25px;
}

/* CHAT */

.chat{
background:rgba(30,30,30,0.7);
border-radius:12px;
padding:25px;
height:320px;
overflow:auto;
text-align:left;
}

.message{
margin-bottom:10px;
}

.friend1 .bubble{
background:linear-gradient(90deg,#163,#4caf50);
padding:10px 14px;
border-radius:8px;
}

.friend2 .bubble{
background:linear-gradient(90deg,#134,#2196f3);
padding:10px 14px;
border-radius:8px;
}

.translation{
font-size:13px;
color:#bbb;
margin-top:5px;
}

/* BUTTONS */

.buttons-row{
margin-top:20px;
display:flex;
gap:20px;
justify-content:center;
}

.friend1btn{
background:#43a047;
padding:12px 22px;
border:none;
border-radius:8px;
color:white;
}

.friend2btn{
background:#1e88e5;
padding:12px 22px;
border:none;
border-radius:8px;
color:white;
}


/* INPUT */

#voiceBox{
width:80%;
padding:12px;
border:none;
border-radius:8px;
background:#1e1e1e;
color:white;
margin-top:20px;
}

/* MODAL */

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
display:none;
justify-content:center;
align-items:center;
}

.modal-content{
background:#151515;
padding:30px;
border-radius:10px;
width:420px;
text-align:center;
}

.lang-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}